@import url('https://fonts.googleapis.com/css?family=Lato:300,600|Lobster');

body {
  margin: 20px auto;
  width: 60%;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 40px 0px;
  font-size: 15px;
  a {
    text-decoration: none;
    color: black;
  }
  .vertical-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.instructions {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  .text {
    width: 50%;
  }
  .gif {
    width: 50%;
    max-height: 300px;
    min-width: 300px;
  }
}

.club-list {
  list-style-type: none;
  margin: 20px 0px 10px 0px;
  padding: 0px;
}

.club-list-item {
  border: solid 1px #ccc;
  background-color: #eee;
  padding: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

body .club-list-item:hover {
  background-color: #ddd;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.club-list-item:nth-child(2n) {
  background-color: #f6f6f6;
}

.club-list-name {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
}

.club-list-city {
  color: #555;
  font-style: italic;
}

h1 {
  font-size: 30px;
  border-bottom: 4px solid #ff6f69;
  display: inline-block;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Lobster', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #ff6f69;
  text-align: center;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  margin-bottom: 20px;
  font-style: italic;
}

table tr td {
  padding: 10px;
}

.activityTable {
  display: none;
}

.graphs {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.graphBox {
  height: 400px;
  width: 100%;
}


.calendarContainer {
  height: 150px;
  margin: 30px auto;
}

.badgesContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .badge {
    width: 25%;
    min-width: 200px;
    padding: 20px;
    filter: grayscale(100%);
    img {
      width: 100%;
    }
  }
  .completed {
    width: 25%;
    min-width: 200px;
    padding: 20px;
    filter: grayscale(0%);
    img {
      width: 100%;
    }
  }
}

 .closedView {

   display: none;
 }

 .openView {

 }

 button {

   height: 20px;
   align-items: center;
 }
