@import url('https://fonts.googleapis.com/css?family=Lato:300,600|Lobster');

body {
  margin: 20px auto;
  width: 60%;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 40px 0px;
  font-size: 20px;
  a {
    text-decoration: none;
    color: black;
  }
  .vertical-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

h1 {
  font-size: 30px;
  border-bottom: 4px solid #ff6f69;
  display: inline-block;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Lobster', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #ff6f69;
  text-align: center;
}

.graphs {
  width: 80%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.graphBox {
  height: 400px;
  width: 450px;
}

.calendarContainer {
  width: 900px;
  height: 400px;
  margin: 0px auto;
}

.badgesContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .badge {
    width: 30%;
    min-width: 200px;
    padding: 10px;
    filter: grayscale(100%);
    img {
      width: 100%;
    }
    .completed {
      filter: grayscale(0%);
    }
  }
}
